OSS_ALI_ACCESS_KEY_ID=ACCESS_KEY_ID
OSS_ALI_ACCESS_KEY_SECRET=ACCESS_KEY_SECRET
OSS_ALI_END_POINT=END_POINT
#IMG
OSS_ALI_BUCKET_NAME=BUCKET_NAME
OSS_ALI_MAX_CONNECTIONS=MAX_CONNECTIONS
OSS_ALI_CONNECTION_TIMEOUT=CONNECTION_TIMEOUT
OSS_ALI_MAX_ERROR_RETRY=MAX_ERROR_RETRY
OSS_ALI_SOCKET_TIMEOUT=SOCKET_TIMEOUT
OSS_ALI_DOMAIN_NAME=http://you.domain.com/