body {
    padding-top: 70px;
}
img{
    max-width: 100%;
    height: auto;
}
/*custom*/
.roc-c-article-post {
    font-family: "Microsoft Yahei", Tahoma, Helvetica, Arial, "SimSun", sans-serif;
    text-shadow: 1px 1px #fff;
}
/*overwrite*/
.page-header{
    margin: 10px 0 20px;
}
.bs-docs-section > p, .bs-docs-section > ul,
.bs-docs-section > ol, .bs-callout > p,
.bs-callout > ol, .bs-callout > ul {
    font-size: 16px;
    line-height: 1.6;
}
.bs-example:after {
    content: "示例：" !important;
}
.bs-callout *:last-child {
    margin-bottom: 0;
}
.bs-docs-footer{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}